
pre { 
    font-size: 13px;   /*bloc résultat d'exec de code*/
    line-height: 1.2;
}
h1 { 
  font-size: 62px;
  color: #7fa106;
  font: 1.2em ,"Arial", sans-serif;
}
h2 { 
  font-size: 1em;
  color: #7fa106; /* vert IGN*/
  border-bottom: 2px solid #96C31E;
  font-family: "Arial", sans-serif;
}

h3 { 
  font-size: 0.8em;
  color: #acd341; /* vert IGN aussi*/
  border-bottom: 1px dashed #acd341;
  margin-top: -20px;
  margin-left: -0px;
  text-align: left;
font: 1.2em ,"Arial", sans-serif;
}




