
pre { 
    font-size: 13px;   /*bloc résultat d'exec de code*/
    line-height: 1.2;
}
h1 { 
  font-size: 62px;
  color: #7fa106;
  font: 1.2em ,"Arial", sans-serif;
}
h2 { 
  font-size: 1em;
  color: #7fa106; /* vert IGN*/
  border-bottom: 2px solid #96C31E;
  font-family: "Arial", sans-serif;
}

h3 { 
  font-size: 0.8em;
  color: #acd341; /* vert IGN aussi*/
  border-bottom: 1px dashed #acd341;
  margin-top: -20px;
  margin-left: -0px;
  text-align: left;
font: 1.2em ,"Arial", sans-serif;
}


h4 { 
  font-size: 0.6em;
  color: #acd341; /* vert IGN aussi*/
  border-bottom: 1px dashed #acd341;
  margin-top: -20px;
  margin-left: -0px;
  text-align: left;
font: 1.0em ,"Arial", sans-serif;
}


.nbbox {
  padding: 1em;
  background: darkgrey;
  color: white;
  border: 1px solid #7fa106;
  border-radius: 5px;
  text-align: center;
}


.warningbox {
    padding: 1em;
  background: #fefefe;
  color: red;
  border: 1px dashed red;
  border-radius: 5px;
  text-align: center;
  font: 1.5em;
}




div.attention {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #eeeeee;
    background-color: #ff6961;
    border: solid 3px #ee4545;

    font-size: 1.2em;
  }

div.note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #333333;
    background-color: #ADD8E6;
    border: solid 3px #4273CB;
}



div.attention {
  background-image: url("./notabene.png");
}

div.note {
  background-image: url("./noteinfo.png");
}



.toc-logo {
  width: 200px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.toc-logo img {
  max-width: 100%;
  margin-bottom: 10px;
}

.summary > li:first-child {
  height: auto !important; 
}